<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZioT Team Attendance check</title>
    <link rel="stylesheet" href="../static/style/style.css">
</head>
<body>

{#<script src="https://cdnjs.cloudflare.com/ajax/libs/html5-qrcode/2.3.4/html5-qrcode.min.js"#}
{#        integrity="sha512-k/KAe4Yff9EUdYI5/IAHlwUswqeipP+Cp5qnrsUjTPCgl51La2/JhyyjNciztD7mWNKLSXci48m7cctATKfLlQ==" crossorigin="anonymous"#}
{#        referrerpolicy="no-referrer"#}
{#>#}
{#</script>#}
<script src="../static/scripts/qrcode.js"></script>
<main>
    <div id="reader"></div>
    <div id="result"></div>
</main>
<script src="../static/scripts/script.js"></script>

</body>
</html>
